@model IEnumerable<ApplicationUser>
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="p-2 mt-3">
    <nav class="navbar container-fluid p-3 mt-5">

        <ul class="list-inline ">
            <li class="list-inline-item text-dark">
                <a class="text-dark btn btn-outline-secondary" asp-area="admin" asp-action="SortUsers" asp-controller="Users" asp-route-Role="Admin">Admin</a>
            </li>
            <li class="list-inline-item text-warning">
                <a class="text-warning btn btn-outline-warning" asp-area="admin" asp-action="SortUsers" asp-controller="Users" asp-route-Role="Bestyrelsesmedlem"> Bestyrelsesmedlem</a>
            </li>
            <li class="list-inline-item text-info">
                <a class="text-info btn btn-outline-info" asp-area="admin" asp-action="SortUsers" asp-controller="Users" asp-route-Role="LærerAdmin">LærerAdmin</a>
            </li>
            <li class="list-inline-item text-primary">
                <a class="text-primary btn btn-outline-primary" asp-area="admin" asp-action="SortUsers" asp-controller="Users" asp-route-Role="Lærer">Lærer</a>
            </li>
            <li class="list-inline-item text-success">
                <a class="text-success btn btn-outline-success" asp-area="admin" asp-action="SortUsers" asp-controller="Users" asp-route-Role="AktivElev">Aktiv Elev</a>
            </li>
            <li class="list-inline-item text-danger">
                <a class="text-danger btn btn-outline-danger" asp-area="admin" asp-action="SortUsers" asp-controller="Users" asp-route-Role="Elev">Elev</a>
            </li>
            <li class="list-inline-item text-secondary">
                <a class="text-secondary btn btn-outline-secondary" asp-area="admin" asp-action="SortUsers" asp-controller="Users" asp-route-Role="TidligereElev">Tidligere elev</a>
            </li>
        </ul>

    </nav>
    <table class="table table-hover ">
        <thead class="table-success ">
            <tr>
                <th width="5%">
                    Billede
                </th>
                <th width="10%">
                    Navn
                </th>
                <th width="5%">
                    Alder
                </th>
                <th width="10%">
                    Instrument
                </th>
                <th>
                    Tlf Nr.
                </th>

                <th width="10%">
                    E-mail
                </th>
                <th>
                    Lærer
                </th>
                <th>
                    Kommentar
                </th>


                <th>
                    Status
                </th>
                <th>
                    @if (User.IsInRole(MimMVC.WC.AdminRole) || User.IsInRole(MimMVC.WC.AdminTeacherRole) || User.IsInRole(MimMVC.WC.BankRole) || User.IsInRole(MimMVC.WC.Manager))
                    {
                        <a class="btn btn-outline-dark w-100 text-bold border-0 " table-hover data-toggle="tooltip"
                           data-placement="top" title="Opret bruger"
                           asp-area="Identity" asp-page="/Account/Register">
                            <i class="fas fa-user-plus"></i>
                        </a>
                    }
                </th>


            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    <img class="img-fluid rounded-circle img-responsive" style="width:60px; height:60px" src="@("/img/profileImages/" + item.ImageName)" />
                </td>
                @if (item.Role == (MimMVC.WC.AdminTeacherRole))
                {
                    <td class=" text-info font-weight-bold">
                        @item.FullName
                    </td>
                }
                else if (item.Role == (MimMVC.WC.TeacherRole))
                {
                    <td class="text-info">
                        @item.FullName
                    </td>
                }
                else if (item.Role == (MimMVC.WC.AktivStudentRole))
                {
                    <td class="text-success font-weight-bold">
                        @item.FullName
                    </td>
                }
                else if (item.Role == (MimMVC.WC.StudentRole))
                {
                    <td class="text-danger font-weight-bold">
                        @item.FullName
                    </td>
                }
                else if (item.Role == (MimMVC.WC.FormerStudent))
                {
                    <td class="text-secondary ">
                        @item.FullName
                    </td>
                }

                else if (item.Role == (MimMVC.WC.BankRole))
                {
                    <td class="text-warning font-weight-bold">
                        @item.FullName
                    </td>
                }

                else if (item.Role == (MimMVC.WC.AdminRole))
                {
                    <td class="text-dark font-weight-bold">
                        @item.FullName
                    </td>
                }
                else
                {
                    <td class="text-warning font-weight-bold">
                        @item.FullName
                    </td>
                }

                <td>
                    @item.Age år
                </td>

                <td>
                    @if (item.Role == (MimMVC.WC.TeacherRole) || item.Role == (MimMVC.WC.AdminTeacherRole) || User.IsInRole(MimMVC.WC.Manager))
                    {
                        @item.Teach
                    }
                    else if (item.Role == (MimMVC.WC.StudentRole) || item.Role == (MimMVC.WC.AktivStudentRole) || item.Role == (MimMVC.WC.FormerStudent))
                    {
                        @item.Instruction
                    }
                </td>
                <td>
                    @item.PhoneNumber
                </td>
                <td width="10%">
                    @item.Email
                </td>
                <td>
                    <div class="col justify-content-center">
                        <div class="row">
                            @if (item.TaughtBy != null)
                            {
                                var teacher = await UserManager.FindByIdAsync(item.TaughtBy);
                                if (teacher != null)
                                {
                                    <img class=" center rounded-circle img-responsive" style="width:40px; height:40px" src="@("/img/profileImages/" + teacher.ImageName)" />
                                }
                            }
                        </div>
                        <div class="row">
                            @if (item.TaughtBy != null)
                            {
                                var teacher = await UserManager.FindByIdAsync(item.TaughtBy);
                                if (teacher != null)
                                {
                                    @teacher.FirstName;
                                }
                            }
                        </div>
                    </div>
                </td>
                <td>
                    @item.Comments
                </td>
                <td>
                    @item.Role
                </td>

                <td>
                    <div class=" d-flex justify-content-end btn-group" role="group">
                        <a type="button" class="btn btn-outline-info m-sm-1" data-toggle="tooltip" data-placement="top" title="Detaljer"
                           asp-area="admin" asp-controller="users" asp-action="details" asp-route-id="@item.Id" m-1>
                            <i class="fas fa-info-circle"></i>
                        </a>
                        @if (User.IsInRole(MimMVC.WC.AdminRole) || User.IsInRole(MimMVC.WC.AdminTeacherRole))
                        {
                            <a type="button" class="btn btn-outline-secondary m-sm-1" data-toggle="tooltip" data-placement="top"
                               title="Redigere" asp-action="Edit" asp-route-userid="@item.Id" m-1>
                                <i class="fas fa-edit"></i>
                            </a>
                        }


                        @if (User.IsInRole(MimMVC.WC.AdminRole))
                        {
                            <form action="Delete" method="POST">
                                <button type="submit" class="btn btn-outline-danger m-1 mr-3 confirmDeletion" data-toggle="tooltip"
                                        data-placement="left" title="Slet" asp-action="Delete" asp-route-userid="@item.Id">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </form>
                        }

                    </div>
                </td>
            </tr>

                <!-- Modal -->
                <div class="modal fade" id="deleteProfileModal" tabindex="-1" role="dialog" aria-labelledby="deleteProfileModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteProfileModalLabel">Slet</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Er du sikker på du ønsker at slette @(item.FullName)!
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annullere</button>
                                <form action="Delete" method="POST">
                                    <button type="submit" class="btn btn-danger m-1 mr-3" data-toggle="tooltip" data-placement="left"
                                            asp-action="Edit" asp-route-userid="@item.Id">
                                        <i class="fas fa-trash-alt"></i> Slet denne bruger
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </tbody>

    </table>
</div>
  

@section Scripts {


}

