@model Product

@{
    ViewData["Title"] = "Produkt detaljer";
}


<div class="container rounded shadow p-3 rounde mt-3" style="background-color: #fafafa;">
	<a asp-action="Index"><i class="fas fa-backspace" data-toggle="tooltip" data-placement="top" title="Tilbage til listen"></i>&nbsp;Tilbage</a>
	<h4>Produkt detaljer</h4>
	<dl class="row">

		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Title)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Title)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Description)
		</dt>
		<dd class="col-sm-10">
			@Html.Raw(Model.Description)
		</dd>

		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.SingleLekPrice)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.SingleLekPrice)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.DoubleLekPrice)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.DoubleLekPrice)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.GroupLekPrice)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.GroupLekPrice)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.LekTimeSpan)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.LekTimeSpan)
		</dd>

		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Category)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Category.Name)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Image)
		</dt>
		<dd class="col-sm-10">
			<img src="~/img/products/@Model.Image" width="200" alt="" />
		</dd>
	</dl>
	<div>
		<a class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Tilbage til listen" asp-action="Index"><i class="fas fa-backspace"></i>&nbsp;Tilbage</a>
		<a class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Redigere dette produkt" asp-action="Edit" asp-route-id="@Model.Id"><i class="fas fa-edit"></i>&nbsp;Redigere</a>
	</div>
</div>

